<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<div class="center">



<%= will_paginate @sales %>


<ul id="booklist" class="sales">
    <% @sales.each do |sale| %>
    	<% if sale.user_id == nil %>
        <li>
            <td><img src=<%=Book.find(sale.book_id).photo%>>
            <%= link_to Book.find(sale.book_id).name, sale %> <% link_to sale %> <p></p> QR <%= sale.price %> - <%= sale.condition %></td>
            <p></p>
        </li>
        
        <% end %>
    <% end %>
</ul>

<%= will_paginate @sales %>


</div>