<% provide(:title, 'Sign up') %>
<div id="registerpage" class="hero-unit-white">
  <h1>Sign up</h1>
  <br></br>
  <div class="row">
    <div id="registerpage" class="span6 offset3">
      <%= form_for(@user) do |f| %>
        <%= render 'shared/error_messages' %>
        <p>
        <%= f.label :name %>
        <%= f.text_field :name %>

        <%= f.label :email, "University Email Address"%>
        <%= f.text_field :email %>

        <%= f.label :address1, "Address"%>
        <%= f.text_field :address1 %>

        <%= f.label :pobox, "P.O.Box"%>
        <%= f.text_field :pobox %>

        <%= f.label :phone, "Mobile Number"%>
        <%= f.text_field :phone %>

        <%= f.label :password %>
        <%= f.password_field :password %>

        <%= f.label :password_confirmation, "Confirmation" %>
        <%= f.password_field :password_confirmation %>
        <br></br>
        <%= f.submit "Create my account", class: "btn btn-large btn-primary" %>
           Already a User? <%= link_to "Sign In", login_path %> </sbr>
      <% end %>
    </p>
     
    </div>
  </div>
</div>