<% provide(:title, Book.find(@sale.book_id).name) %>


<div id="bookimage">
    <img src=<%=Book.find(@sale.book_id).photo%> alt=<%=Book.find(@sale.book_id).name%>>
</div>

<div id="details">
  <div id="booktitle">
    <h1><%= Book.find(@sale.book_id).name %></h1>
    <h2>
        <!--author-->
        <%= Book.find(@sale.book_id).author %>
    </h2>
  </div>



  <div id="saleinfo">
    <% if @sale.user_id == nil %>
      <h2>FOR SALE</h2>
    <% else %>
      <h3>Sold
    <% end %> Selling Price: QR <%= @sale.price %> ,
    Condition: <%= @sale.condition %></h3>

    <% if @sale.charity != nil && @sale.charity!="" %>
    <h3>Proceeds go to: <%= @sale.charity %></h3>
    <% end %>
  </div>

  <div id="bookdescription">
  <p><%= Book.find(@sale.book_id).description.html_safe %></p>
    <!-- @sale.owner_id.to_i != current_user.id.to_i && 
    -->
  </div>



  <!-- @sale.owner_id.to_i == current_user.id.to_i &&
   -->

    
    

    <div id="bookdata">
      <p>
        ISBN
        <%= Book.find(@sale.book_id).isbn %>
      </p>
      <p>
        Edition
        <% if Book.find(@sale.book_id).edition == 0 %>
        N/A
        <% else %>
        <%= Book.find(@sale.book_id).edition %>
        <% end %>
      </p>
      <p>
        Retail Price
        <% if Book.find(@sale.book_id).retail_price == 0 %>
        N/A
        <% else %>
        QR <%= Book.find(@sale.book_id).retail_price %>
        <% end %>
      </p>
      <br></br>
    </div>

  <div id="buttons"> 
    <% if signed_in? && @sale.user_id==nil %>
      <%= link_to 'Edit Sale', edit_sale_path(@sale), class: "btn btn-large btn-primary" %>
    <% end %>

    <br></br>
    
    <% if !signed_in? %>
      <%= link_to "Purchase", login_path, class: "btn btn-large btn-primary" %>
    <% elsif @sale.user_id == nil %>
      <%= link_to "Purchase", purchase_path, class: "btn btn-large btn-primary" %>
    <%end %>
  </div>
</div>
